*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    color: white;
}
.container{
    margin: 4rem 2.5rem;
    border-radius: 5px;
}
.item{
    padding: 3rem;
}
.item h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 21px;
}
.item img{
    margin-bottom: 2.7rem;
}
.item h2, p{
    margin-bottom: 2rem;
}
.item p{
  font-size: 13px;
  line-height: 18px;;
}
.item-box-1{
    background: hsl(31, 77%, 52%);
}
.item-box-1 .btn{
    color: hsl(31, 77%, 52%);
}
.item-box-2{
    background: hsl(184, 100%, 22%);
}
.item-box-2 .btn{
   color: hsl(184, 100%, 22%);
}
.item-box-3{
    background: hsl(179, 100%, 13%);
}
.item-box-3 .btn{
    color: hsl(179, 100%, 13%);
}
.btn{
    border: none;
    padding: .7rem 1.5rem;
    border-radius: 20px;
    background: white;
    margin: 1rem 0;
}
@media only screen and (min-width: 600px) {
    .container{
        display: flex;
        justify-content: center;
        min-height: 82vh;
    }
    .item{
        padding: 7rem 4rem; 
    }
    .item img{
        padding-bottom: 1rem;
    }
    .item h2{
        padding-bottom: 2rem;
    }
    .item p{
        padding-bottom: 2rem;
    }
}